body {
    background-color: #3d0064;
    color: #ad5cff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f7f3f3;
    color: #f6f6f8;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #ffffff;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

main {
    width: 80%;
    margin: auto;

}

section {
    background-color: #a69eff;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}